<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <form>
        <div class="row">
          <div class="col-8">
            <label for="name">Name</label>
            <input type="text" name="name" id="name" class="form-control" />
          </div>
          <div class="col-4">
            <label for="amount">Amount</label>
            <input type="text" class="form-control" />
          </div>
        </div>
      </form>
      <div class="row">
          <div class="col-12">
              <button class="btn btn-success">Submit</button>
              <button class="btn btn-danger">Delete</button>
              <button class="btn btn-primary">Clear</button>
          </div>
      </div>
    </div>
  </div>
</div>